[Desktop Entry]
Name=Time Shift
GenericName=Time Tracker
Comment=Keep track of the time spent on tasks
Categories=GTK;Utility;
Exec=activities
Icon=clock
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=activities
X-GNOME-Keywords=time;work;
