[Desktop Entry]
Name=Activities
GenericName=Activity time tracker
Comment=Keep track of the time spent on activities
Categories=GTK;Utility;
Exec=activities
Icon=preferences-system-time
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=activities
X-GNOME-Keywords=time;work;